{% extends 'base.html' %}

{% load static %}
{% block title %}Cheques Propios{% endblock %}
{% block main %}

<section id="services" class="section-bg">

  <div class="container my-5">

      <div class="md-6 lg-4 wow bounceInUp" data-wow-duration="1.4s">

        <div class="box">

          <div class="icon" style="background: #fceef3;"><i class="ion-cash" style="color: #ff689b;"></i></div>
          <h4 class="title"><a href="www.facebook.com">Cheques Propios</a></h4>
          <div class="form-container">
            <div>
              <div id="login" class="col s12">

                <form class="text-left">
                  <div class="form-group">
                    {{ form.as_p }}
                    {% csrf_token %}
                  </div>
                  
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                  </div>
                </form>

                <hr>

                <form class="text-left">

                    <div class="form-group">
                        <label for="inputEmail3" class="sm-2 form-label">Banco de Emisión:</label>
                        
                        <select class="custom-select" required>
                            <option value = ""> Seleccione un Banco</option>
                            <option value = "1">Banco del Chaco</option>
                            <option value = "2">Banco Galicia</option>
                            <option value = "3">BBVA Francés</option>
                        </select>
                        
                    </div>

                    <div class="form-group">
                        <label for="inputPassword3" class="sm-2 form-label">Cuenta de Egreso:</label>
                        
                        <select class="custom-select" required>
                            <option value="">Selecione su Cuenta</option>
                            <option value="1">595465321</option>
                            <option value="2">223549865</option>
                            <option value="3">845456654</option>
                        </select>
                        
                    </div>

                    <div class="form-group">
                        <label for="inputPassword3" class="sm-2 form-label">Número de Cheque:</label>
                        
                        <input type="text" class="form-control" id="validationTooltip04" placeholder="Ingrese Numero de Cheque" required>
                        
                    </div>

                    <div class="form-group">
                        <label for="inputDate3" class="sm-2 form-label">Fecha de Emisión:</label>
                        
                        <input type="date" class="form-control" id="inputDate3" required>
                        
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="sm-2 form-label">Fecha de Pago:</label>
                        
                        <input type="date" class="form-control" id="inputEmail3" required>
                        
                    </div>

                    <div class="form-group">
                        <label for="inputText3" class="sm-2 form-label">Destinatario:</label>
                        
                        <input type="text" class="form-control" id="validationTooltip04" placeholder="Ingrese Nombre Destinatario" required>
                        
                    </div>

                    <div class="form-group">
                        <label for="inputNumber3" class="sm-2 form-label">Monto:</label>
                        
                        <input type="text" class="form-control" id="validationTooltip04" placeholder="Ingrese Monto" required>
                        
                    </div>

                    <div class="form-group">
                        <label for="inputPassword3" class="sm-2 form-label">Estado de Cheque:</label>
                        
                        <select class="custom-select" required>
                            <option value = ""> Seleccione Estado de Cheque</option>
                            <option value="1">Pendiente</option>
                            <option value="2">Pagado</option>
                            <option value="3">Anulado</option>
                            <option value="4">Rechazado</option>
                        </select>
                        
                    </div>

                  <div class="form-group">
                    <label for="inputPassword3" class="sm-2 form-label">Cuenta de Egreso:</label>
                    
                      <input type="text" class="form-control" id="validationTooltip04" placeholder="Ingrese Numero de Cuenta" required>
                    
                  </div>

                  <div class="form-group">
                    
                      <button type="submit" class="btn btn-primary">Registrar</button>
                    
                  </div>

                </form>

              </div>

            </div>

          </div>

        </div>

      </div>

  </div>

</section>

{% endblock %}