{% extends 'base.html' %}

{% load static %}
{% block title %}Equipo{% endblock %}
{% block main %}

{% comment %} <section id="team" class="section-bg mt-5">
      <div class="container">
        <div class="section-header">
          <h3>Equipo</h3>
          <p>Este es el equipo de SmartChecks</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{% static 'images/team/gabi.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Gabi</h4>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{% static 'images/team/jomi.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jomi</h4>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static 'images/team/lucas.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Lucas</h4>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="{% static 'images/team/mariano.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Mariano</h4>
                  
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{% static 'images/team/martin.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Martín</h4>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{% static 'images/team/mati.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Mati</h4>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static 'images/team/mauro.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Mauro</h4>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="{% static 'images/team/meli.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Meli</h4>
                 
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row d-flex justify-content-center">

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static 'images/team/mile.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Mile</h4>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="{% static 'images/team/sol.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sol</h4>
                 
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> {% endcomment %}

    		<br><br><br><br><br><br>
		<section>
			<div class="container">
				<div class="row flex-center sm-no-flex">
		
					<div class="pull-right sm-no-float col-md-8">
						<ul class="team-members">
							<!-- single member row starts -->
							<li class="clearfix">
								<div class="member-details">
									<div>
										<img src="{% static 'images/team/Mattias.jpeg' %}" alt="UI Designer"> 
										<div class="member-info">
											<h3>Mattias Bettini</h3>
											<p>UI Designer</p>
										</div>
									</div>
								</div>
								
								<div class="member-details">
									<div>
										<img src="{% static 'images/team/Gabriela.jpeg' %}" alt="UI Designer">
										<div class="member-info">
											<h3>Gabriela Lopez</h3>
											<p>UI Designer</p>
										</div>
									</div>
								</div>
								
								<div class="member-details">
									<div>
										<img src="{% static 'images/team/Milena.jpeg' %}" alt="UI Designer">
										<div class="member-info">
											<h3>Milena Quirico</h3>
											<p>UI Designer</p>
										</div>
									</div>
								</div>
							</li><!-- /single member row ends -->
							
							<!-- single member row starts -->
							<li class="clearfix">
								<div class="member-details">
									<div>
										<img src="{% static 'images/team/Mariano.jpeg' %}" alt="Frontend Developer">
										<div class="member-info">
											<h3>Mariano Medina</h3>
											<p>Frontend Developer</p>
										</div>
									</div>
								</div>
								
								<div class="member-details">
									<div>
										<img src="{% static 'images/team/Martin.jpeg' %}" alt="Frontend Developer">
										<div class="member-info">
											<h3>Martin Gomez</h3>
											<p>Frontend Developer</p>
										</div>
									</div>
								</div>
								
								<div class="member-details">
									<div>
										<img src="{% static 'images/team/Melisa.jpeg' %}" alt="Frontend Developer">
										<div class="member-info">
											<h3>Melisa Meza</h3>
											<p>Frontend Developer</p>
										</div>
									</div>
								</div>
							</li><!-- /single member row ends -->
		
							<!-- single member row starts -->
							<li class="clearfix">
								<div class="member-details">
									<div>
										<img src="{% static 'images/team/Lucas.jpeg' %}" alt="Backend Developer">
										<div class="member-info">
											<h3>Lucas Espinoza</h3>
											<p>Backend Developer</p>
										</div>
									</div>
								</div>
								
								<div class="member-details">
									<div>
										<img src="{% static 'images/team/Mauro.jpeg' %}" alt="Backend Developer">
										<div class="member-info">
											<h3>Mauro Acuña</h3>
											<p>Backend Developer</p>
										</div>
									</div>
								</div>
								
								<div class="member-details">
									<div>
										<img src="{% static 'images/team/Jose.jpeg' %}" alt="Backend Developer">
										<div class="member-info">
											<h3>Jose Borras</h3>
											<p>Backend Developer</p>
										</div>
									</div>
								</div>
							</li><!-- /single member row ends -->
		
						</ul><!-- /end team-photos -->
					</div><!-- /end col-md-8 -->
					
					<div class="pull-left col-md-4 sm-text-center">
						<div class="team-overview">
							<h2>Les presentamos el equipo de SmartCheck</h2>
							<!-- <a href="#">Les presentamos al equipo</a>
							<p><div>Somos estudiantes de programacion, para muchos nuestro primer proyecto, para otros uno mas</div></p> -->
						</div>
					</div>
				</div><!-- /end row -->
			</div><!-- /end container -->
		</section>

		<div class="copyright">
			<br><br>
			<br><br>
			<br>
			<p>Con la colaboracion de Noelia Lencinas</p>
		</div>

{% endblock %}